body {
    -webkit-print-color-adjust: exact;
}

input[type="text"], input[type="number"], select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: inherit;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0;
}

#bottomSpacer {
    height: 40px;
}

#changedBox {
    bottom: 0;
    position: fixed;
}

#changedBox .span12 {
    background-color: #bbb;
    border: 1px solid black;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding-left: 10px;
}

#editName, #editXP {
    margin: -115px 0 0 -236px;
    width: 470px;
}

#editXP input.ng-invalid-required {
    background-color: #fa787e;
}

#errorRow h2 {
    background-color: #f00;
}

#csHeader {
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}

#csHeader .csBoxHead {
    width: 928px;
}

#abilTable td:nth-child(2), #benefTable td:nth-child(2) {
    width: 90px;
}

#abilTable td:last-child, #benefTable td:last-child {
    width: 38px;
}

#oSkillsTable select {
    width: 80px;
}

#spellTable {
    width: 99%;
}

#damageBox {
    background-image: url('/img/no-spiral.png');
    height: 292px;
}

#damageBox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#damageBox ul li {
    display: inline-block;
    line-height: 0;
    position: absolute;
}

#damageBox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
}

#damageBox input[type="checkbox"]:checked:after {
    content: 'X';
    position: absolute;
    top: 0;
}

#damageBox .damBoxList input[type="checkbox"] {
    height: 19px;
    width: 20px;
}

#damageBox .damBoxList input[type="checkbox"]:checked:after {
    font-size: 1.1em;
    left: 5px;
}

#damageBox .pfBoxList input[type="checkbox"] {
    height: 14px;
    width: 14px;
}

#damageBox .pfBoxList input[type="checkbox"]:checked:after {
    font-size: 0.95em;
    left: 4px;
}

#damageBox input[type="checkbox"]:disabled {
    background-color: #999;
}

#damageBox #PHYLI0 {
    left: 204px;
    top: 53px;
}

#damageBox #PHYLI1 {
    left: 204px;
    top: 79px;
}

#damageBox #PHYLI2 {
    left: 178px;
    top: 53px;
}

#damageBox #PHYLI3 {
    left: 178px;
    top: 79px;
}

#damageBox #PHYLI4 {
    left: 152px;
    top: 53px;
}

#damageBox #PHYLI5 {
    left: 152px;
    top: 79px;
}

#damageBox #PHYLI6 {
    left: 126px;
    top: 53px;
}

#damageBox #PHYLI7 {
    left: 126px;
    top: 79px;
}

#damageBox #PHYLI8 {
    left: 100px;
    top: 53px;
}

#damageBox #PHYLI9 {
    left: 100px;
    top: 79px;
}

#damageBox #PHYLI10 {
    left: 74px;
    top: 66px;
}

#damageBox #PHYLI11 {
    left: 48px;
    top: 66px;
}

#damageBox #AGLLI0 {
    left: 204px;
    top: 125px;
}

#damageBox #AGLLI1 {
    left: 204px;
    top: 151px;
}

#damageBox #AGLLI2 {
    left: 178px;
    top: 125px;
}

#damageBox #AGLLI3 {
    left: 178px;
    top: 151px;
}

#damageBox #AGLLI4 {
    left: 152px;
    top: 125px;
}

#damageBox #AGLLI5 {
    left: 152px;
    top: 151px;
}

#damageBox #AGLLI6 {
    left: 126px;
    top: 125px;
}

#damageBox #AGLLI7 {
    left: 126px;
    top: 151px;
}

#damageBox #AGLLI8 {
    left: 100px;
    top: 125px;
}

#damageBox #AGLLI9 {
    left: 100px;
    top: 151px;
}

#damageBox #AGLLI10 {
    left: 74px;
    top: 138px;
}

#damageBox #AGLLI11 {
    left: 48px;
    top: 138px;
}

#damageBox #INTLI0 {
    left: 204px;
    top: 199px;
}

#damageBox #INTLI1 {
    left: 204px;
    top: 225px;
}

#damageBox #INTLI2 {
    left: 178px;
    top: 199px;
}

#damageBox #INTLI3 {
    left: 178px;
    top: 225px;
}

#damageBox #INTLI4 {
    left: 152px;
    top: 199px;
}

#damageBox #INTLI5 {
    left: 152px;
    top: 225px;
}

#damageBox #INTLI6 {
    left: 126px;
    top: 199px;
}

#damageBox #INTLI7 {
    left: 126px;
    top: 225px;
}

#damageBox #INTLI8 {
    left: 100px;
    top: 199px;
}

#damageBox #INTLI9 {
    left: 100px;
    top: 225px;
}

#damageBox #INTLI10 {
    left: 74px;
    top: 212px;
}

#damageBox #INTLI11 {
    left: 48px;
    top: 212px;
}

#damageBox #PFLI0 {
    left: 217px;
    top: 261px;
}

#damageBox #PFLI1 {
    left: 198px;
    top: 261px;
}

#damageBox #PFLI2 {
    left: 179px;
    top: 261px;
}

#damageBox #PFLI3 {
    left: 160px;
    top: 261px;
}

#damageBox #PFLI4 {
    left: 141px;
    top: 261px;
}

#damageBox #PFLI5 {
    left: 122px;
    top: 261px;
}

#featBox {
    float: right;
    font-size: 106%;
    padding-top: 3px;
    width: 330px;
}

#featBox .fbHead {
    border-bottom: 1px solid black;
    clear: left;
    font-weight: bold;
    margin-bottom: 2px;
}

#featBox ul {
    margin: 0 0 2px 25px;
}

#featBox ul.fbFirst {
    float: left;
    width: 50%;
}

#featBox ul li {
    line-height: 1.25em;
}

#featPointsBox {
    float: left;
    margin-bottom: 5px;
    margin-top: 24px;
    position: static; 
    width: 75px;
}

#featPoints {
    border: none;
    font-size: 3.25em;
    width: 100%; 
}

#notesBox {
    height: 94%;
    resize: none;
    width: 282px;
}

.csBox {
    background-color: #f8f2dd;
    border: 2px solid #000000;
    -webkit-border-radius: 0 10px 10px 10px;
       -moz-border-radius: 0 10px 10px 10px;
            border-radius: 0 10px 10px 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 24px 0 0 0;
}

.csBoxHead {
    font-family: 'Elan Black', verdana, serif;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #000000;
    padding: 2px 5px 1px 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.csStatBox {
    border: 2px solid #000000;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Elan Black', verdana, serif;
    font-weight: bold;
    position: absolute;
}

.csStatBox .csStatBoxVal {
    font-size: 150%;
    line-height: 125%;
    text-align: center;
    margin: 10px 0 5px 0;
}

.csStatBox .csStatBoxVal input {
    margin-bottom: 0;
    text-align: center;
}

.csStatBox .csStatBoxStat {
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
}

.csStatsSection {
    border-right: 1px solid #000;
    height: 137px;
    float: left;
    position: relative;
}

.csInputBox {
    float: left;
    margin: 0 8px 0 0;
}

.csInputBox input, .csInputBox select {
    border-width: 0 0 2px 0;
    border-color: #000;
    margin-bottom: 0;
}

.csInputBox strong {
    margin-left: 2px;
}

.csInputBox .textSpace {
    display: inline-block;
    border-bottom: 2px solid #000000;
    height: 23px;
    margin-top: 5px;
    padding-left: 3px;
    vertical-align: bottom;
}

.csInputBox .career {
    width: 111px;
}

.csTable {
    margin: 5px;
    width: 447px;
}

.csTable thead th {
    vertical-align: bottom;
}

.csTable tbody tr td {
    text-align: center;
}

.csTable tbody tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.csTable tbody input {
    text-align: center;
}

.csTable tbody tr td:first-child input {
    text-align: left;
}

.csList {
    margin: 5px;
}

.csList dd {
    margin-bottom: 5px;
}

.csBigText {
    float: right;
    margin: 0 5px;
    padding-top: 15px;
    text-align: center;
}

::-webkit-validation-bubble {
    visibility: hidden;
}
