#cancelConfirm {
    margin: -115px 0 0 -281px;
}

.form-horizontal div.controls {
    margin-left: 260px;
}

.form-horizontal label.control-label {
    width: 240px;
}

.control-group .controls ul {
    list-style-type: none;
    margin: 5px 0 0 0;
}

.control-group .controls ul li {
    margin-bottom: 5px;
}
