#changeLang1, #changeLang2, #cancelConfirm {
    margin: -115px 0 0 -281px;
}

.form-horizontal div.controls {
    margin-left: 260px;
}

.form-horizontal label.control-label {
    width: 240px;
}

.control-group .controls ul {
    list-style-type: none;
    margin: 5px 0 0 0;
}

.control-group .controls ul li input {
    margin-right: 5px;
    vertical-align: top;
}

#APTable th, #APTable td {
    padding: 3px 5px;
    text-align: center;
}

#APTable td.left {
    font-weight: bold;
    text-align: left;
}

#APTable td input[type="number"] {
    text-align: center;
    width: 30px;
}
